.plane-icon-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease;
}

.plane-icon-wrap--picker .plane-icon-svg {
  width: 56px;
  height: 56px;
}

.plane-icon-wrap--cell .plane-icon-svg {
  width: 1.2rem;
  height: 1.2rem;
}

.plane-icon-wrap--grid {
  width: 100%;
  height: 100%;
}

.plane-icon-wrap--grid .plane-icon-svg {
  width: 100%;
  height: 100%;
}

.plane-icon-svg {
  display: block;
}

.plane-icon-head {
  color: inherit;
}
